//fonts
@import "bootstrap";
@import "font-awesome";
@import "media-queries";

@font-face {
  font-family: font1;
  src: url("../fonts/PT_Sans-Web-Bold.ttf");
}

@font-face {
  font-family: font2;
  src: url("../fonts/PT_Sans-Web-BoldItalic.ttf");
}

@font-face {
  font-family: font3;
  src: url("../fonts/PT_Sans-Web-Italic.ttf");
}

@font-face {
  font-family: font4;
  src: url("../fonts/PT_Sans-Web-Regular.ttf");
}

//fin de fonts
//bases
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body,
html {
  height: 100%;
}

//fin de bases
//header
.navbar-default {
  background-color: rgba(248, 248, 248, 0);
  border-color: rgba(231, 231, 231, 0);
  .navbar-nav > li > a {
    color: #ffffff;
    text-transform: uppercase;
    font-family: font4;
    font-size: 0.8em;
    &:hover {
      color: #ffffff;
      background-color: transparent;
      text-decoration: underline;
    }
  }
  .navbar-toggle {
    margin-top: 30px;
  }
  .navbar-collapse {
    padding-top: 30px;
  }
}
.navbar-default .navbar-nav>li>a:focus{
  color: #ffffff;
}
.navbar {
  .navbar-brand {
    max-height: 100%;
    height: inherit;
  }
}

body {
  background-color: white;
  font-family: font4;
  font-weight: 400;
  font-size: 22px;
  height: 100%;
  .front {
    background-image: url("../img/images/bg_header1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .back {
      position: absolute;
      left: 0;
      bottom: -360px;
      overflow: hidden;
      width: 100%;
      img {
        width: 1900px;
        height: 530px;
      }
    }
    .wrapper {
      text-align: center;
      margin: 30px auto auto;
      .block1 {
        display: inline-block;
        width: 300px;
        .startup {
          width: 300px;
        }
        .image-logo {
          max-width: 100px;
          max-height: 80px;
        }
      }
      .block2 {
        vertical-align: top;
        display: inline-block;
        width: 300px;
        img {
          max-width: 100%;
        }
        .text {
          p{
            color: white;
            text-align: center;
            border-bottom: 3px solid white;
            width: 190px;
            margin: auto auto 30px;
            span {
              font-weight: bold;
            }
          }

        }
      }
    }
    .clouds{
      height: 200px;
      background-position: top;
      display: block;
      overflow: hidden;
      background: url("../img/clouds_header.png");
      background-size: cover;
    }
  }
}

.title-sections{
  margin-bottom: 15px;
  text-align: center;
  color: #E97E20;
  font-weight: bold;
  font-size: 35px;
}
//fin de header
.about {
  clear: both;
  text-align: center;
  padding-top: 20px;
  z-index: 1000;
  position: relative;
  p {
    margin: 20px 0 60px;
  }
  padding-bottom: 250px;
  .bottom-clouds{

    bottom: 0px;
    width: 100%;
    position: absolute;
    min-height: 200px;
    background-image: url("../img/cloud_bg2_invert.png");
    background-size: cover;
  }
}
p {
  font-size: 20px;
  color: #878787;
  span {
    font-weight: bold;
  }
}

.btn-sc {
  font-size: 17px;
  background:  #E97E20;
  color: #ffffff;
  min-width: 115px;
  font-weight: bold;
  border: 0px solid #ffffff;
  border-top: 3px solid #b36119;
  border-right: 3px solid #b36119;
  &:hover{
    background: #ff9021;
    color: #ffffff;
  }
  &:active{
    background:  #b36119;
    border-top: 1px solid #b36119;
    border-right: 1px solid #b36119;
  }
}
.btn-sc.active{
  background:  #E97E20;
  color: #ffffff !important;
  box-shadow: none !important;
  &:active{
    background:  #b36119;
  }
}
.btn-sc2 {
  font-size: 17px;
  border: 1px solid #b4b4b4;
  border-top: 3px solid #b4b4b4;
  border-right: 3px solid #b4b4b4;
  background: #ffffff;
  color: #484848;
  min-width: 115px;
  font-weight: bold;
  &:hover{
    background: #e7e7e7;
    color: #484848;
  }
  &:active{
    background:  #b4b4b4;
    border-top: 1px solid #b4b4b4;
    border-right: 1px solid #b4b4b4;
  }
}
.btn-sc2.active{
  background: #ffffff;
  color: #484848;
  box-shadow: none !important;
  &:active{
    background:  #b36119;
    background:  #b4b4b4;
    border-top: 1px solid #b4b4b4;
    border-right: 1px solid #b4b4b4;
  }
}
.process{
  background-color: #f2f2f2;
  position: relative;
  .background{
    .image{
      position: absolute;
      top: 0px;
    }
    .start{
      .image{
        left: 0px;
      }
    }
    .end{
      .image{
        right: 0px;
      }
      .satellite{
        bottom: 50px;
        right: 50px;
        position: absolute;
        @include max-screen($screen-xs-max){
          display: none;
        }
      }
    }
  }
}
.group-steps{
  padding-top: 25px;
  .step{

    @extend .col-lg-12;
    padding: 20px;
    display: block;
    overflow: hidden;
    .image{
      @extend .col-md-2;
      text-align: center;
      img{
        display: inline-block;
        max-width: 100%;
      }
    }
    .step-text{
      padding-top: 40px;
      @extend .col-md-10;
      .text-center{
        font-size: 25px;
        color: #E9601A;
        font-weight: bold;
        span{
          font-weight: normal;
          font-size: 20px;
          color: #868686;
        }
      }
    }
  }
}
.benefits{
  position: relative;
  background-image: url("../img/images/bg_galaxy2.jpg");
  background-size: cover;
  .background{
    padding-top: 200px;
    position: relative;
    padding-bottom: 0px;
  }
  .top-clouds{
    top: 0px;
    width: 100%;
    position: absolute;
    min-height: 200px;
    background-image: url("../img/cloud_bg2.png");
    background-size: cover;

  }
  .right-clouds{
    bottom: 0px;
    right: 0px;
    width: 100%;
    position: absolute;
    min-height: 100%;
    background-image: url("../img/footer3.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 200px;
    @include max-screen($screen-xs-max){
      display: none;
    }
  }
  .left-clouds{
    bottom: 150px;
    width: 100%;
    position: absolute;
    min-height: 500px;
    background-image: url("../img/footer1.png");
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: bottom;
    @include max-screen($screen-xs-max){
      display: none;
    }
  }
  .information{
    @extend .col-lg-12;
    .benefit{
      @extend .col-lg-6;
      @extend .col-lg-offset-3;
      @extend .col-md-8;
      @extend .col-md-offset-2;
      text-align: left;
      @include max-screen($screen-xs-max){
        text-align: center;
      }
      .text-benefit{
        text-shadow: 0px 0px 10px #101010;
        color: #ffffff;
        font-size: 30px;
        padding-top: 25px;
        padding-bottom: 25px;
        i{
          color: #E97E20;
          font-size: 35px;
        }
      }
    }
  }
  .title-sections{
    padding-top: 25px;
  }
  .btn-list{
    padding-top: 25px;
    li{
      padding-bottom: 10px;
    }
  }
  .extras{
    background-image: url("../img/footer2.png");
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: bottom;
    position: relative;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding: 50px;
    .contact{
      padding-top: 100px;
      p{
        span{
          color: #E9601A;
        }
      }
      .rocket{
        color: #E9601A;
        &:hover{
          color: #ba4d15;
        }
      }
    }
  }
}




footer {
  background-color: #484848;
  p{
    font-size: 12px;
    color: white;

    text-align: center;
    width: 100%;
    i {
      color: red;
    }
  }

}



